<div class="row justify-content-center mt-4">
  <div class="col-md-8">
	  
	  <table class="table table-striped mt-4">
		<thead>
		  <tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Category</th>
			<th scope="col">Owner</th>
		  </tr>
		</thead>
		<tbody>
		  <% @items.each do |item| %>
			  <tr>
				<th scope="row"><%= item.name %></th>
				<td><%= item.description %></td>
				<td><%= item.category %></td>
				<td><%= item.user.first_name %> <%= item.user.last_name %></td> 
			  </tr>
		  <% end %>
		</tbody>
	  </table>
  </div>
</div>
